
EHB -WPF- PROJECT/ERP/POS/.vs/POS/v15/.suo
EHB -WPF- PROJECT/ERP/POS/.vs/POS/v15/Server/sqlite3/db.lock
EHB -WPF- PROJECT/ERP/POS/.vs/POS/v15/Server/sqlite3/storage.ide
EHB -WPF- PROJECT/ERP/POS/.vs/POS/v15/Server/sqlite3/storage.ide-shm
EHB -WPF- PROJECT/ERP/POS/.vs/POS/v15/Server/sqlite3/storage.ide-wal
EHB -WPF- PROJECT/ERP/POS/POS.sln
EHB -WPF- PROJECT/ERP/POS/POS/App.config
EHB -WPF- PROJECT/ERP/POS/POS/App.xaml
EHB -WPF- PROJECT/ERP/POS/POS/App.xaml.cs
EHB -WPF- PROJECT/ERP/POS/POS/AppSetting.cs
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Office.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.RichEdit.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Xpf.Docking.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Xpf.DocumentViewer.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Xpf.Grid.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Xpf.LayoutControl.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Xpf.Printing.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Xpf.Ribbon.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.Xpf.Scheduling.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/de/DevExpress.XtraScheduler.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Data.Desktop.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Data.Desktop.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Data.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Data.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Images.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Mvvm.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Mvvm.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Office.v20.1.Core.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Office.v20.1.Core.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Pdf.v20.1.Core.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Pdf.v20.1.Core.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Pdf.v20.1.Drawing.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Pdf.v20.1.Drawing.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Printing.v20.1.Core.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Printing.v20.1.Core.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.RichEdit.v20.1.Core.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.RichEdit.v20.1.Core.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Core.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Core.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Docking.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Docking.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.DocumentViewer.v20.1.Core.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.DocumentViewer.v20.1.Core.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Grid.v20.1.Core.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Grid.v20.1.Core.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Grid.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Grid.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Layout.v20.1.Core.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Layout.v20.1.Core.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.LayoutControl.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.LayoutControl.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Printing.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Printing.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Ribbon.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Ribbon.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Scheduling.v20.1.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.Xpf.Scheduling.v20.1.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.XtraScheduler.v20.1.Core.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/DevExpress.XtraScheduler.v20.1.Core.xml
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Office.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.RichEdit.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Xpf.Docking.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Xpf.DocumentViewer.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Xpf.Grid.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Xpf.LayoutControl.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Xpf.Printing.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Xpf.Ribbon.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.Xpf.Scheduling.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/es/DevExpress.XtraScheduler.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Office.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.RichEdit.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Xpf.Docking.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Xpf.DocumentViewer.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Xpf.Grid.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Xpf.LayoutControl.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Xpf.Printing.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Xpf.Ribbon.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.Xpf.Scheduling.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ja/DevExpress.XtraScheduler.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/POS.exe
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/POS.exe.config
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/POS.pdb
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Office.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.RichEdit.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Xpf.Docking.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Xpf.DocumentViewer.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Xpf.Grid.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Xpf.LayoutControl.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Xpf.Printing.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Xpf.Ribbon.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.Xpf.Scheduling.v20.1.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/bin/Debug/ru/DevExpress.XtraScheduler.v20.1.Core.resources.dll
EHB -WPF- PROJECT/ERP/POS/POS/loginLock.gif
EHB -WPF- PROJECT/ERP/POS/POS/MainWindow.xaml
EHB -WPF- PROJECT/ERP/POS/POS/MainWindow.xaml.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/App.g.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/App.g.i.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/MainWindow.g.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/MainWindow.g.i.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.csproj.CopyComplete
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.csproj.CoreCompileInputs.cache
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.csproj.FileListAbsolute.txt
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.csproj.GenerateResource.cache
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.csprojAssemblyReference.cache
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.exe
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/pos.exe.licenses
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.g.resources
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.pdb
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS.Properties.Resources.resources
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS_MarkupCompile.cache
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS_MarkupCompile.i.cache
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS_MarkupCompile.i.lref
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/POS_MarkupCompile.lref
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/Window1.g.i.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/WindowChangeDatabase.g.cs
EHB -WPF- PROJECT/ERP/POS/POS/obj/Debug/WindowChangeDatabase.g.i.cs
EHB -WPF- PROJECT/ERP/POS/POS/POS.csproj
EHB -WPF- PROJECT/ERP/POS/POS/Properties/AssemblyInfo.cs
EHB -WPF- PROJECT/ERP/POS/POS/Properties/Licenses.licx
EHB -WPF- PROJECT/ERP/POS/POS/Properties/Resources.Designer.cs
EHB -WPF- PROJECT/ERP/POS/POS/Properties/Resources.resx
EHB -WPF- PROJECT/ERP/POS/POS/Properties/Settings.Designer.cs
EHB -WPF- PROJECT/ERP/POS/POS/Properties/Settings.settings
EHB -WPF- PROJECT/ERP/POS/POS/SqlHelper.cs
EHB -WPF- PROJECT/ERP/POS/POS/WindowChangeDatabase.xaml
EHB -WPF- PROJECT/ERP/POS/POS/WindowChangeDatabase.xaml.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/.vs/SMS/v15/.suo
EHB -WPF- PROJECT/ERP/SMS/SMS/.vs/SMS/v15/Server/sqlite3/db.lock
EHB -WPF- PROJECT/ERP/SMS/SMS/.vs/SMS/v15/Server/sqlite3/storage.ide
EHB -WPF- PROJECT/ERP/SMS/SMS/.vs/SMS/v15/Server/sqlite3/storage.ide-shm
EHB -WPF- PROJECT/ERP/SMS/SMS/.vs/SMS/v15/Server/sqlite3/storage.ide-wal
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS.sln
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/App.config
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/App.xaml
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/App.xaml.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/bin/Debug/SMS.exe
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/bin/Debug/SMS.exe.config
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/bin/Debug/SMS.pdb
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/MainWindow.xaml
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/MainWindow.xaml.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/App.g.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/App.g.i.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/MainWindow.baml
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/MainWindow.g.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/MainWindow.g.i.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS.csproj.CoreCompileInputs.cache
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS.csproj.FileListAbsolute.txt
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS.csproj.GenerateResource.cache
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS.csprojAssemblyReference.cache
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS.exe
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS.g.resources
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS.pdb
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS.Properties.Resources.resources
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS_MarkupCompile.cache
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS_MarkupCompile.i.cache
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS_MarkupCompile.i.lref
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/SMS_MarkupCompile.lref
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/Properties/AssemblyInfo.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/Properties/Resources.Designer.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/Properties/Resources.resx
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/Properties/Settings.Designer.cs
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/Properties/Settings.settings
EHB -WPF- PROJECT/ERP/SMS/SMS/SMS/SMS.csproj
EHB -WPF- PROJECT/POS/POS/.vs/POS/v15/.suo
EHB -WPF- PROJECT/POS/POS/.vs/POS/v15/Server/sqlite3/db.lock
EHB -WPF- PROJECT/POS/POS/.vs/POS/v15/Server/sqlite3/storage.ide
EHB -WPF- PROJECT/POS/POS/.vs/POS/v15/Server/sqlite3/storage.ide-shm
EHB -WPF- PROJECT/POS/POS/.vs/POS/v15/Server/sqlite3/storage.ide-wal
EHB -WPF- PROJECT/POS/POS/POS.sln
EHB -WPF- PROJECT/POS/POS/POS/24_HOURS.gif
EHB -WPF- PROJECT/POS/POS/POS/App.config
EHB -WPF- PROJECT/POS/POS/POS/App.xaml
EHB -WPF- PROJECT/POS/POS/POS/App.xaml.cs
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/de/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/de/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/de/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/de/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/de/DevExpress.Xpf.LayoutControl.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Data.Desktop.v20.1.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Data.Desktop.v20.1.xml
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Data.v20.1.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Data.v20.1.xml
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Images.v20.1.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Mvvm.v20.1.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Mvvm.v20.1.xml
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Pdf.v20.1.Core.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Pdf.v20.1.Core.xml
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Pdf.v20.1.Drawing.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Pdf.v20.1.Drawing.xml
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Printing.v20.1.Core.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Printing.v20.1.Core.xml
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Xpf.Core.v20.1.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Xpf.Core.v20.1.xml
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Xpf.LayoutControl.v20.1.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/DevExpress.Xpf.LayoutControl.v20.1.xml
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/es/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/es/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/es/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/es/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/es/DevExpress.Xpf.LayoutControl.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ja/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ja/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ja/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ja/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ja/DevExpress.Xpf.LayoutControl.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/POS.exe
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/POS.exe.config
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/POS.pdb
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ru/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ru/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ru/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ru/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/bin/Debug/ru/DevExpress.Xpf.LayoutControl.v20.1.resources.dll
EHB -WPF- PROJECT/POS/POS/POS/loginLock.gif
EHB -WPF- PROJECT/POS/POS/POS/MainWindow.xaml
EHB -WPF- PROJECT/POS/POS/POS/MainWindow.xaml.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/App.g.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/App.g.i.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/MainWindow.baml
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/MainWindow.g.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/MainWindow.g.i.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.csproj.CopyComplete
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.csproj.CoreCompileInputs.cache
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.csproj.FileListAbsolute.txt
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.csproj.GenerateResource.cache
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.csprojAssemblyReference.cache
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.exe
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/pos.exe.licenses
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.g.resources
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.pdb
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS.Properties.Resources.resources
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS_MarkupCompile.cache
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS_MarkupCompile.i.cache
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS_MarkupCompile.i.lref
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/POS_MarkupCompile.lref
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/Window1.baml
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/Window1.g.cs
EHB -WPF- PROJECT/POS/POS/POS/obj/Debug/Window1.g.i.cs
EHB -WPF- PROJECT/POS/POS/POS/POS.csproj
EHB -WPF- PROJECT/POS/POS/POS/Properties/AssemblyInfo.cs
EHB -WPF- PROJECT/POS/POS/POS/Properties/Licenses.licx
EHB -WPF- PROJECT/POS/POS/POS/Properties/Resources.Designer.cs
EHB -WPF- PROJECT/POS/POS/POS/Properties/Resources.resx
EHB -WPF- PROJECT/POS/POS/POS/Properties/Settings.Designer.cs
EHB -WPF- PROJECT/POS/POS/POS/Properties/Settings.settings
EHB -WPF- PROJECT/POS/POS/POS/Window1.xaml
EHB -WPF- PROJECT/POS/POS/POS/Window1.xaml.cs
EHB -WPF- PROJECT/PROJECT_1.1/.vs/PROJECT_1.1/v15/.suo
EHB -WPF- PROJECT/PROJECT_1.1/.vs/PROJECT_1.1/v15/Server/sqlite3/db.lock
EHB -WPF- PROJECT/PROJECT_1.1/.vs/PROJECT_1.1/v15/Server/sqlite3/storage.ide
EHB -WPF- PROJECT/PROJECT_1.1/.vs/PROJECT_1.1/v15/Server/sqlite3/storage.ide-shm
EHB -WPF- PROJECT/PROJECT_1.1/.vs/PROJECT_1.1/v15/Server/sqlite3/storage.ide-wal
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1.sln
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/App.config
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/App.xaml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/App.xaml.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/de/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/de/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/de/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/de/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Data.Desktop.v20.1.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Data.Desktop.v20.1.xml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Data.v20.1.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Data.v20.1.xml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Images.v20.1.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Mvvm.v20.1.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Mvvm.v20.1.xml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Pdf.v20.1.Core.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Pdf.v20.1.Core.xml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Pdf.v20.1.Drawing.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Pdf.v20.1.Drawing.xml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Printing.v20.1.Core.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Printing.v20.1.Core.xml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Xpf.Core.v20.1.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/DevExpress.Xpf.Core.v20.1.xml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/es/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/es/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/es/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/es/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/ja/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/ja/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/ja/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/ja/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/PROJECT_1.1.exe
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/PROJECT_1.1.exe.config
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/PROJECT_1.1.pdb
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/ru/DevExpress.Data.v20.1.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/ru/DevExpress.Pdf.v20.1.Core.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/ru/DevExpress.Printing.v20.1.Core.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/bin/Debug/ru/DevExpress.Xpf.Core.v20.1.resources.dll
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/Image1.png
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/Image2.png
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/images/loginCoverPic - Copy.jpg
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/images/loginCoverPic.jpg
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/MainWindow.xaml
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/MainWindow.xaml.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/App.g.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/App.g.i.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/MainWindow.g.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/MainWindow.g.i.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1.csproj.CopyComplete
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1.csproj.CoreCompileInputs.cache
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1.csproj.FileListAbsolute.txt
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1.csproj.GenerateResource.cache
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1.csprojAssemblyReference.cache
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1.exe
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/project_1.1.exe.licenses
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1.g.resources
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1.pdb
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1_MarkupCompile.cache
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1_MarkupCompile.i.cache
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1_MarkupCompile.i.lref
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1.1_MarkupCompile.lref
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/PROJECT_1._1.Properties.Resources.resources
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/PROJECT_1.1.csproj
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/Properties/AssemblyInfo.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/Properties/Licenses.licx
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/Properties/Resources.Designer.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/Properties/Resources.resx
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/Properties/Settings.Designer.cs
EHB -WPF- PROJECT/PROJECT_1.1/PROJECT_1.1/Properties/Settings.settings
EHB -WPF- PROJECT/SMS/SMS/.vs/SMS/v15/.suo
EHB -WPF- PROJECT/SMS/SMS/.vs/SMS/v15/Server/sqlite3/db.lock
EHB -WPF- PROJECT/SMS/SMS/.vs/SMS/v15/Server/sqlite3/storage.ide
EHB -WPF- PROJECT/SMS/SMS/.vs/SMS/v15/Server/sqlite3/storage.ide-shm
EHB -WPF- PROJECT/SMS/SMS/.vs/SMS/v15/Server/sqlite3/storage.ide-wal
EHB -WPF- PROJECT/SMS/SMS/SMS.sln
EHB -WPF- PROJECT/SMS/SMS/SMS/App.config
EHB -WPF- PROJECT/SMS/SMS/SMS/App.xaml
EHB -WPF- PROJECT/SMS/SMS/SMS/App.xaml.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/bin/Debug/SMS.exe
EHB -WPF- PROJECT/SMS/SMS/SMS/bin/Debug/SMS.exe.config
EHB -WPF- PROJECT/SMS/SMS/SMS/bin/Debug/SMS.pdb
EHB -WPF- PROJECT/SMS/SMS/SMS/MainWindow.xaml
EHB -WPF- PROJECT/SMS/SMS/SMS/MainWindow.xaml.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/App.g.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/App.g.i.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/MainWindow.baml
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/MainWindow.g.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/MainWindow.g.i.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS.csproj.CoreCompileInputs.cache
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS.csproj.FileListAbsolute.txt
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS.csproj.GenerateResource.cache
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS.csprojAssemblyReference.cache
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS.exe
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS.g.resources
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS.pdb
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS.Properties.Resources.resources
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS_MarkupCompile.cache
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS_MarkupCompile.i.cache
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS_MarkupCompile.i.lref
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/SMS_MarkupCompile.lref
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/Properties/AssemblyInfo.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/Properties/Resources.Designer.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/Properties/Resources.resx
EHB -WPF- PROJECT/SMS/SMS/SMS/Properties/Settings.Designer.cs
EHB -WPF- PROJECT/SMS/SMS/SMS/Properties/Settings.settings
EHB -WPF- PROJECT/SMS/SMS/SMS/SMS.csproj
